<div bgcolor="#EBF5FF" style="margin:0;padding:0">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#EBF5FF" style="background-color:#EBF5FF;padding:0;margin:0;line-height:1px;font-size:1px">
  <tbody>
    <tr>
    <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px">

      <!-- HEADER -->

      <table align="center" width="500" style="width:500px;background-color:#4F9DEB;padding:0;margin:0;line-height:1px;font-size:1px" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
          <td height="15" style="height:15px;padding:0;margin:0;line-height:1px;font-size:1px"> &nbsp; </td>
          </tr>
          <tr>
          <td style="padding:0;margin:0;line-height:1px;font-size:1px">
            <table cellpadding="0" cellspacing="0" border="0" align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
              <tbody>
                <tr align="left">
                  <td align="left" width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                  <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#ffffff;font-size:16px;padding:0px;margin:0px;font-weight:300;line-height:100%;text-align:left">SIMPLE<strong>OKR</strong></td>
                  <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px" align="left"></td>
                </tr>
              </tbody>
            </table>
          </td>
          </tr>
          <tr>
          <td height="14" style="height:14px;padding:0;margin:0;line-height:1px;font-size:1px"> &nbsp; </td>
          </tr>
        </tbody>
      </table>

      <!-- BODY -->

      <table align="center" width="500" style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
          <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
          <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px">
            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" style="padding:0;margin:0;line-height:1px;font-size:1px">
              <tbody>
              <tr>
              <td height="30" style="height:45px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
              </tr>
              <tr>
              <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;line-height:30px;font-weight:300;text-align:left;color:#2C3E50">Congratulations <%= @okr.admin_name %>!</td>
              </tr>
              <tr>
              <td height="20" style="height:20px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
              </tr>
              <tr>
              <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:400;text-align:left;color:#292f33"> You created your first objectives and key results.</td>
              </tr>
              <tr>
              <td height="20" style="height:20px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
              </tr>
              <tr>
              <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:400;text-align:left;color:#292f33"> Manage them with your admin link: <a href=<%= "http://simpleokr.net/#{@okr.admin_url}" %> style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;border:none;text-decoration:none;font-weight:400;color:#4F9DEB" target="_blank">simpleokr.net/<%= @okr.admin_url %></a>.</td>
              </tr>
              <tr>
              <td height="20" style="height:20px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
              </tr>
              <tr>
              <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:400;text-align:left;color:#292f33"> Share them with your public link: <a href=<%= "http://simpleokr.net/#{@okr.public_url}" %> style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;border:none;text-decoration:none;font-weight:400;color:#4F9DEB" target="_blank">simpleokr.net/<%= @okr.public_url %></a>.</td>
              </tr>
              <tr>
              <td height="20" style="height:20px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
              </tr>
              <tr>
              <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:400;text-align:left;color:#292f33"> Post directly to <a href=<%= "https://twitter.com/intent/tweet?text=Objectives%20set%20for%20the%20quarter!%20simpleokr.net/#{@okr.public_url}%20via%20simpleOKR.net" %> style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;border:none;text-decoration:none;font-weight:400;color:#4F9DEB" target="_blank">Twitter</a> and <a href=<%= "http://www.linkedin.com/shareArticle?mini=true&url=simpleokr.net/#{@okr.public_url}&title=Quarterly%20objectives%20set!&summary=My%20objectives...&source=Simple%20OKR" %> style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;border:none;text-decoration:none;font-weight:400;color:#4F9DEB" target="_blank">LinkedIn</a>.</td>
              </tr>
              <tr>
              <td height="55" style="height:55px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
              </tr>
              </tbody>
            </table>
          </td>
          <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
          </tr>
          <tr>
          <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
          <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px">
            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#EBF5FF" style="padding:0;margin:0;line-height:1px;font-size:1px;background-color:#EBF5FF;border-radius:5px">
              <tbody>
              <tr>
              <td width="35" style="padding:0;margin:0;line-height:1px;font-size:1px"></td>
              <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:0;margin:0;line-height:1px;font-size:1px">
                  <tbody>
                  <tr>
                  <td height="25" style="padding:0;margin:0;line-height:1px;font-size:1px"></td>
                  </tr>
                  <tr>
                  <td style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;text-align:left;color:#4F9DEB"> <strong>Don't forget to review your OKR!</strong> </td>
                  </tr>
                  <tr>
                  <td colspan="3" height="7" style="padding:0;margin:0;line-height:1px;font-size:1px"></td>
                  </tr>
                  <tr>
                  <td style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;font-weight:400;text-align:left;color:#4F9DEB"> When the time is right, go back to your OKR to assess your work performance against your OKR. You'll have come full circle and successfully learned from your successes. Way to go!</td>
                  </tr>
                  <tr>
                  <td height="30" style="padding:0;margin:0;line-height:1px;font-size:1px"></td>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td width="35" style="padding:0;margin:0;line-height:1px;font-size:1px"></td>
              </tr>
              </tbody>
            </table>
          </td>
          <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
          </tr>
          <tr>
          <td colspan="3" height="50" style="padding:0;margin:0;line-height:1px;font-size:1px"></td>
          </tr>
          </tbody>
        </table>

        <!-- FOOTER -->

        <table align="center" width="500" style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td height="1" style="line-height:1px;display:block;height:1px;background-color:#e1e8ed;padding:0;margin:0;line-height:1px;font-size:1px"></td>
            </tr>
            <tr>
              <td height="20" style="height:20;padding:0;margin:0;line-height:1px;font-size:1px"></td>
            </tr>
            <tr>
              <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px"> <span style="font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#4F9DEB;font-size:12px;padding:0px;margin:0px;font-weight:normal;line-height:12px"> <a href="http://simpleokr.net/" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#4F9DEB;font-size:12px;padding:0px;margin:0px;font-weight:600;line-height:12px" target="_blank">Visit</a> &nbsp;|&nbsp; <a href="mailto:willem@simpleokr.net" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#4F9DEB;font-size:12px;padding:0px;margin:0px;font-weight:600;line-height:12px" target="_blank">Inquire</a> &nbsp;|&nbsp; <a href="mailto:help@simpleokr.net" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#4F9DEB;font-size:12px;padding:0px;margin:0px;font-weight:600;line-height:12px" target="_blank">Get Help</a></span> </td>
            </tr>
            <tr>
              <td height="10" style="height:10px;line-height:1px;font-size:1px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
            </tr>
            <tr>
              <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px"> <span> <a style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#8899a6;font-size:12px;padding:0px;margin:0px;font-weight:normal;line-height:12px"><span class="il">SIMPLE<strong>OKR</strong></span>, New York. 2015.</a> </span> </td>
            </tr>
            <tr>
              <td height="26" style="height:26;padding:0;margin:0;line-height:1px;font-size:1px"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

</div>