<div id="tagline" class="page-section text-center">
  <div>
    <h1>Manage objectives. It's free, forever.</h1>
    <%= link_to "Learn more", "#process", class: "btn btn-default" %>
    <%= link_to "Start now", new_okr_path, class: "btn btn-primary" %>
  </div>
</div>

<div id="process" class="container-fluid page-section text-center">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <%= image_tag "http://placehold.it/50x50", class: "img-circle" %><br>
      <%= image_tag "http://placehold.it/220x180" %>
      <h3>Open the Keyboard</h3>
      <p>Meet is a keyboard for Android and iOS, it works from any app.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag "http://placehold.it/50x50", class: "img-circle" %><br>
      <%= image_tag "http://placehold.it/220x180" %>
      <h3>Select your Availability</h3>
      <p>Pick the times that work for you and send an invite with just a tap.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag "http://placehold.it/50x50", class: "img-circle" %><br>
      <%= image_tag "http://placehold.it/220x180" %>
      <h3>You're done</h3>
      <p>Let the other person pick their favorite time and you're all set.</p>
    </div>
  </div>
</div>
