<div id="tagline" class="page-section text-center">
  <div>
    <h1>Manage objectives. It's free, forever.</h1>
    <%= link_to "Learn more", "#process", class: "btn btn-default" %>
    <%= link_to "Start now", new_okr_path, class: "btn btn-primary" %>
  </div>
</div>

<div id="process" class="container-fluid page-section text-center">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <%= image_tag "http://placehold.it/50x50", class: "img-circle" %><br>
      <h3>Define</h3>
      <%= image_tag "http://placehold.it/220x180" %>
      <p>Use Objectives - Key Results to define specific and measurable goals for the coming quarter.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag "http://placehold.it/50x50", class: "img-circle" %><br>
      <h3>Share</h3>
      <%= image_tag "http://placehold.it/220x180" %>
      <p>Share your goals via email and social networks with people interested in what you're up to.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag "http://placehold.it/50x50", class: "img-circle" %><br>
      <h3>Review</h3>
      <%= image_tag "http://placehold.it/220x180" %>
      <p>Review your results versus goals at the end of the quarter. Objectively decide how to proceed with your projects.</p>
    </div>
  </div>
</div>

<div id="definition" class="container-fluid page-section text-center">
  <p>
    Objectives - Key Results is simple method to set objectives and measure performance on a quarterly basis. It was pioneered by John Doer at Intel and popularized in the tech industry following Google's adoption. Learn directly from the people who framed and spread the word about OKR.
    Simple OKR is a straightfoward web-tool to define, share and review OKR without the hassle of spreadsheets
  </p>
</div>

<div id="benefits" class="container-fluid page-section text-center">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <%= image_tag "http://placehold.it/100x100", class: "img-circle" %><br>
      <h3>Define</h3>
      <%= image_tag "http://placehold.it/220x180" %>
      <p>Use Objectives - Key Results to define specific and measurable goals for the coming quarter.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag "http://placehold.it/50x50", class: "img-circle" %><br>
      <h3>Share</h3>
      <%= image_tag "http://placehold.it/220x180" %>
      <p>Share your goals via email and social networks with people interested in what you're up to.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag "http://placehold.it/50x50", class: "img-circle" %><br>
      <h3>Review</h3>
      <%= image_tag "http://placehold.it/220x180" %>
      <p>Review your results versus goals at the end of the quarter. Objectively decide how to proceed with your projects.</p>
    </div>
  </div>
</div>
