<div class="o-form-group" data-o-id="0" data-kr-count="0">
  <label>Objective: </label>
  <%= form.text_field :description %>
  <%= form.fields_for :key_results do |kr_form| %>
    <%= render partial: "kr_form", locals: { form: kr_form } %>
  <% end %>
  <%= link_to "Add KR", "#", class: "add-kr-btn" %>
  <%= link_to "Remove KR", "#", class: "remove-kr-btn" %>
</div>