<nav>

  <h1 class="title">Objectives and Key Results</h1>

  <ul class="scope list-inline">
    <li><h2 class="subtitle"><i class="fa fa-users"></i> <%= @okr.owner %></h2></li>
    <li><h2 class="subtitle"><i class="fa fa-calendar"></i> Q<%= @okr.quarter %> <%= @okr.year %></h2></li>
    <% if @okr.public_url != nil %>
      <li><h2 class="subtitle"><a class="light" href=<%= "http://simpleokr.net/#{@okr.public_url}" %>><i class="fa fa-link"></i> <%= "/#{@okr.public_url}" %></a></h2></li>
    <% end %>
  </ul>

<% if @admin_access %>

  <div class="menu">
    <!-- Nav tabs -->
    <ul class="buttons list-inline">
      <li>
        <%= link_to "Share", "#share", class: "btn btn-primary", data: { toggle: "menu" } %>
      </li>
      <% if @okr.reviewed? %>
        <li><%= link_to "Review", "#", class: "btn btn-default" %></li>
      <% else %>
        <li><%= link_to "Review", review_okr_path(@okr.admin_url), class: "btn btn-primary" %></li>
      <% end %>
      <li>
        <%= link_to "Manage", "#manage", class: "btn btn-default", data: { toggle: "menu" } %></li>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" id="share">
        <%= render partial: 'share_menu', locals: { okr: @okr } %>
      </div>
      <div class="tab-pane" id="manage">
        <%= render partial: 'manage_menu', locals: { okr: @okr } %>
      </div>
    </div>
  </div>

<% end %>

</nav>