<div class="page-header">
  <h2>Set your objectives</h2>
  <ul class="unstyle-list">
    <li class="active"><span>1</span> Scope</li>
    <li><span>2</span> Define</li>
    <li><span>3</span> Share</li>
  </ul>
</div>

<div id="scope-okr">
  <h3>Define the scope of your objectives</h3>
  <%= form_for @okr, html: { class: "" } do |form| %>

    <p><%= @okr.errors.full_messages.first if @okr.errors.any? %></p>
    <%= form.label :owner, "Team:" %>
    <%= form.text_field :owner %><br />
    <%= form.label :period, "Period:" %>
    <%= form.date_select :period %><br />
    <%= form.label :admin_name, "Your name:" %>
    <%= form.text_field :admin_name %><br />
    <%= form.label :admin_email, "Your e-mail:" %>
    <%= form.text_field :admin_email %><br />
    <%= link_to "Cancel", root_path %>
    <%= link_to "Next", "#" %>

</div>

<div id="define-okr">
  <h3>Write your Objectives and associated Key Results</h3>

    <div class="okr-form-group" data-o-count="0">
      <%= form.fields_for :objectives do |o_form| %>
        <%= render partial: "o_form", locals: { form: o_form } %>
      <% end %>
      <%= link_to "Add O", "#", class: "add-o-btn" %>
      <%= link_to "Remove O", "#", class: "remove-o-btn" %>
    </div>
    <br>
    <br>
    <%= link_to "Back", "#" %>
    <%= form.submit "Create OKR" %><br />
  <% end %>
</div>

<div id="share-okr">
  <h3>Share your OKR with stakeholders who gain from knowing your work plan</h3>
  <%= form_for @okr, html: { class: "" } do |form| %>
    <%= form.label :public_url, "Public URL:" %>
    <%= form.text_field :public_url %><br />
    <%= form.label :admin_url, "Admin URL:" %>
    <%= form.text_field :admin_url %><br />

    <%= link_to "View OKR" %>

  <% end %>
</div>