<%= render 'scope_header' %>

<%= form_for @okr, url: { action: 'define' } do |form| %>

  <% if @okr.errors.any? %>
    <%= render partial: 'shared/flashes', locals: { alert: @okr.errors.full_messages.first } %>
  <% end %>

  <section class="okr">

    <!-- <h3 class="headline">Set the scope of your new OKRs</h3> -->

    <div class="row-group">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <%= form.label :owner, "Team:", class: "control-label" %>
        </div>
        <div class="col-xs-10 col-sm-8">
          <%= form.text_field :owner, class: "form-control input-lg" %>
        </div>
        <%= render partial: 'helper', locals: { text: "Enter who will be working on the objectives. Will it be you, your team, your organisation ?" } %>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <%= form.label :quarter, "Period:", class: "control-label" %>
        </div>
        <div class="col-xs-5 col-sm-2">
          <%= form.select :quarter, options_for_select(["Q1", "Q2", "Q3", "Q4"], "Q3"), {}, {class: "form-control input-lg"} %>
        </div>
        <div class="col-xs-5 col-sm-2">
          <%= form.select :year, options_for_select([2014, 2015, 2016], 2015), {}, {class: "form-control input-lg"} %>
        </div>
        <div class="col-sm-4">
        </div>
        <%= render partial: 'helper', locals: { text: "Select the quarterly period you will be working one the objectives." } %>
      </div>
    </div>

    <div class="row-group">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <%= form.label :admin_name, "Your name:", class: "control-label" %>
        </div>
        <div class="col-xs-10 col-sm-8">
          <%= form.text_field :admin_name, class: "form-control input-lg" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <%= form.label :admin_email, "Your e-mail:", class: "control-label" %>
        </div>
        <div class="col-xs-10 col-sm-8">
          <%= form.text_field :admin_email, class: "form-control input-lg" %>
        </div>
        <%= render partial: 'helper', locals: { text: "Enter your name and e-mail to receive the administrator link to your objectives" } %>
      </div>
    </div>
  </section>

  <section class="action">
    <%= link_to "Cancel", root_path, class: "btn btn-lg btn-default" %>
    <%= form.submit "Next", class: "btn btn-lg btn-primary" %>
  </section>

<% end %>