<%= render 'share_header' %>

<%= render partial: 'shared/flashes' %>

<section id="okr">
  <div class="container-fluid">
    <div class="row-group">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="headline">Manage your OKR using this link.</h3><p>It was sent to you by e-mail so you can come back later to edit and review your OKR.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <%= label_tag "admin_url", "Admin URL:", class: "control-label" %>
        </div>
        <div class="col-xs-8 input-group">
          <%= text_field_tag "admin-url", @admin_url, class: "form-control" %>
          <div id="admin_clip_button" class="input-group-addon my_clip_button" data-clipboard-target="admin-url">
            <i class="fa fa-clipboard"></i>
          </div>
        </div>
      </div>

    </div>
    <div class="row-group">

      <div class="row">
        <div class="col-xs-12">
          <h3 class="headline">Share your OKR using this link.</h3><p>This is the public link to your OKR. Use it in emails and documents to point back to your OKR.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <%= label_tag "public_url", "Public URL:", class: "control-label" %>
        </div>
        <div class="col-xs-8 input-group">
          <%= text_field_tag "public-url", @public_url, class: "form-control" %>
          <div id="public_clip_button" class="input-group-addon my_clip_button" data-clipboard-target="public-url">
            <i class="fa fa-clipboard"></i>
          </div>
        </div>
      </div>

    </div>
    <div class="row-group">

      <div class="row">
        <div class="col-xs-12">
          <h3 class="headline">Post to Social Media!</h3>
          <p>OKR are useful when shared. Keep friends and collegues up to date with your objectives. Take responsibility publicly!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ul class="list-inline">
            <li>
              <a class="btn btn-lg btn-primary light" href="https://twitter.com/intent/tweet?text=Objectives%20set%20for%20the%20quarter!%20simpleokr.net/xyz%20via%20@SimpleOKR"><i class="fa fa-twitter"></i> Tweet</a>
            </li>
            <li>
              <a class="btn btn-lg btn-primary light" href="http://www.linkedin.com/shareArticle?mini=true&url=simpleokr.net/xyz&title=Quarterly%20objectives%20set!&summary=My%20objectives...&source=Simple%20OKR"><i class="fa fa-linkedin-square"></i> Post</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="action"> -->
  <!-- link_to "View OKR", show_okr_path(@okr.admin_url), class: "btn btn-lg btn-primary" -->
<!-- </section> -->

<% content_for :copy_to_clipboard do %>
  <script>
    $(document).ready(function() {
      var public_clip = new ZeroClipboard($("#public_clip_button"))
      var admin_clip = new ZeroClipboard($("#admin_clip_button"))
    });
  </script>
<% end %>
